<!DOCTYPE html>
      <html>
      <head>
          <title>Frugality</title>
          <link rel="stylesheet" type="text/css" href="/style.css">
        <head>
    <body>
      <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="/new_entry">Entry</a></li>
        <li><a href="#/transactions">Transactions</a></li>
        <li><a href="#/merchants">Merchants</a></li>
      <%= yield %>
      </ul>
    </body>
    </html>