<h2>Add Merchant</h2>

<form action="/merchants" method="post">
  <label for="name" class="total">Name</label>
  <input style="height:22px; font-size: 14pt;" type="text" name="name">
  <input type='submit' value="Add Merchant">
</form>

<br>
<a href="/">Back</a>

