<h2>Merchant Name</h2>

<p class="total"><%= @merchant.name %></p>

<a href="/merchants/<%= @merchant.id %>"></a>

<br>
<p class="total">Total Expenditure From Merchant: £<%= @merchant_total %></p>


