<style>

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

h1 {
    font-family: Impact;
}

h2 {
    font-family: helvetica;
}

.total {
    font-family: serif;
    font-size: 20px;

}



.td {
    text-align: middle;

}

table, th, td {
    border: 5px double; 
    border-color: #990000;
    border-collapse: collapse;
    font-family: verdana;
    width: 45%;
    height: 40px;
    text-align: centre;
}

.currencyinput {
    border: 2px inset #ccc;
}
.currencyinput input {
    border: 5px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  font-family: Helvetica;

}

nav a {
  text-decoration: none;
  background-color: #000080;
  color: white;
  margin: 0 10px;
  padding: 5px 15px;
}

nav a:hover {
  background-color: #80002a;
}

nav {
  padding: 10px;
  background-color: lightblue;
}

.description{

    font-family: helvetica;
    font-size: 20px;
}

.info{
    font-family: helvetica;
    font-size: 15px;
}

</style>