<h2>Add Category</h2>

<form action="/categories" method="post">
  <label for="description" class="total">Description:</label>
  <input style="height:22px; font-size: 14pt;" type="text" name="description">
  <input type='submit' value="Add Category">
</form>

<br>

<a href="/">Back</a>
