<h2>Add Category</h2>

<form action="/categories" method="post">

  <label for="description">Description:</label>
  <input type="text" name="description"><br>

  <br><input type='submit' value="Add Category">
</form>

<br>

<a href="/">Back</a>
